.bg1{
  background-color: royalblue;
  min-width: 100vw;
  min-height: 100vh;
}

.bg2{
  background-color:aqua;
  min-width: 100vw;
  min-height: 100vh;
}

.bg3{
  background-color: royalblue;
  min-width: 100vw;
  min-height: 100vh;
}

.bg4{
  background-color: aqua;
  min-width: 100vw;
  min-height: 100vh;
}

.bg5{
  background-color: royalblue;
  min-width: 100vw;
  min-height: 100vh;
}